{% extends 'exchange_rates/base.html' %}

{% block title %}
    <title>Home</title>
{% endblock %}

{% block content %}
  <h2>Exchange rates:</h2>
  <a href="{% url 'exchange_rates:crawler' %}" class="btn btn-danger">Refresh Exchange Rates </a>
   <table class="table table-dark">
     <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">currency</th>
        <th scope="col">Currency code</th>
        <th scope="col">Currency to BGN</th>
        <th scope="col">Reverse currency</th>
        <th scope="col">Number of currency</th>
      </tr>
     </thead>
    <tbody>
  {% for currency in currency_list %}
    <tr>
      <th scope="row">{{ currency.pk }}</th>
      <td>{{ currency.name }}</td>
      <td>{{ currency.currency_code }}</td>
      <td>{{ currency.currency_to_bgn }}</td>
      <td>{{ currency.reverse_currency }}</td>
      <td>{{ currency.count_currency }}</td>
    </tr>
  {% endfor %}
    </tbody>
   </table>
{% endblock %}
